dash==2.14.0
dill
Ipython
python-dotenv
matplotlib==3.7.2
networkx==3.1
numpy==1.25.2
pandas==2.0.3
pillow
plotly==5.17.0
pycairo==1.25.0
pymongo
scipy==1.11.3
seaborn==0.13.0
setuptools==65.5.0
Shapely==2.0.1
tqdm==4.66.1
dash-bootstrap-components
